Config(
    player: (
        image_path: "survivor-idle_handgun_0.png",
        move_speed: 50.0,
        width: 50.0,
        height: 50.0,
        z_height: 10.0,
    ),

    map: (
        grass_texture_path: "grass.png",
        default_z_height: 1.0,
        tile_size: 40.0,
    ),

    enemy: (
        basic: (
            move_speed: 40.0,
            move_behaviour: PointedToPlayer,
            image_path: "skeleton-idle_0.png",
            z_height: 9.0,
            width: 50.0,
            height: 50.0,
        ),
    ),

    performance: (
        enemy_movement_frequency: 0.1, // doesn't work yet
    )
)
