Config(
    player: (
        image_path: "survivor-idle_handgun_0.png",
        move_speed: 50.0,
        width: 50.0,
        height: 50.0,
        z_height: 10.0,
        default_health: 100.0,
    ),

    map: (
        grass_texture_path: "grass.png",
        default_z_height: 1.0,
        tile_size: 40.0,
    ),

    enemy: (
        basic: (
            type: Basic,
            move_speed: 30.0,
            move_behaviour: PointedToPlayer,
            image_path: "skeleton-idle_0.png",
            z_height: 9.0,
            width: 50.0,
            height: 50.0,
            damage: 50.0,
            hit_cooldown: 2000,
            health: 100.0,
        ),
    ),

    performance: (
        enemy_movement_frequency: 0.1, // doesn't work yet
    ),

    menu: (
        button_font: "NotoSans-Bold.ttf",
        new_game: (
            id: NewGame,
            text: "New Game",
            image_path: "continue.png",
            z_height: 20.0,
            width: 300.0,
            height: 155.0,
        ),
        exit: (
            id: Exit,
            text: "Exit",
            image_path: "continue.png",
            z_height: 20.0,
            width: 300.0,
            height: 160.0,
        ),
        main_menu: (
            id: MainMenu,
            text: "Main Menu",
            image_path: "continue.png",
            z_height: 20.0,
            width: 300.0,
            height: 160.0,
        ),
    ),

    window: (
        width: 800,
        height: 500,
        round_counter_text: "Round: ",
        enemies_counter_text: "Killed: ",
    ),

    round: (
        basic_multiplier: 1.5,
        start_delay: 10,
    ),
    bullet: (
        z_height: 30.0,
        basic: (
            image_path: "basic_bullet.png", // 11x26px
            width: 5.5,
            height: 13.,
            speed: 200.0,
            size: 5.0,
            damage: 50.0,
            range: 200.0,
        ),
    ),
)
