Tilemap (
    width: 11,
    height: 11,
    centre_x: 5,
    centre_y: 5,
    tiles: [
        Tile(type: Grass),
        Tile(type: Grass),
        Tile(type: Grass),
        Tile(type: Grass),
        Tile(type: Grass),
        Tile(type: Grass),
        Tile(type: Grass),
        Tile(type: Grass),
        Tile(type: Grass),
        Tile(type: Grass),
        Tile(type: Grass),
        Tile(type: Grass),
        Tile(type: Grass),
        Tile(type: Grass),
        Tile(type: Grass),
        Tile(type: Grass),
        Tile(type: Grass),
        Tile(type: Grass),
        Tile(type: Grass),
        Tile(type: Grass),
        Tile(type: Grass),
        Tile(type: Grass),
        Tile(type: Grass),
        Tile(type: Grass),
        Tile(type: Grass),
        Tile(type: Grass),
        Tile(type: Grass),
        Tile(type: Grass),
        Tile(type: Grass),
        Tile(type: Grass),
        Tile(type: Grass),
        Tile(type: Grass),
        Tile(type: Grass),
        Tile(type: Grass),
        Tile(type: Grass),
        Tile(type: Grass),
        Tile(type: Grass),
        Tile(type: Grass),
        Tile(type: Grass),
        Tile(type: Grass),
        Tile(type: Grass),
        Tile(type: Grass),
        Tile(type: Grass),
        Tile(type: Grass),
        Tile(type: Grass),
        Tile(type: Grass),
        Tile(type: Grass),
        Tile(type: Grass),
        Tile(type: Grass),
        Tile(type: Grass),
        Tile(type: Grass),
        Tile(type: Grass),
        Tile(type: Grass),
        Tile(type: Grass),
        Tile(type: Grass),
        Tile(type: Grass),
        Tile(type: Grass),
        Tile(type: Grass),
        Tile(type: Grass),
        Tile(type: Grass),
        Tile(type: Grass),
        Tile(type: Grass),
        Tile(type: Grass),
        Tile(type: Grass),
        Tile(type: Grass),
        Tile(type: Grass),
        Tile(type: Grass),
        Tile(type: Grass),
        Tile(type: Grass),
        Tile(type: Grass),
        Tile(type: Grass),
        Tile(type: Grass),
        Tile(type: Grass),
        Tile(type: Grass),
        Tile(type: Grass),
        Tile(type: Grass),
        Tile(type: Grass),
        Tile(type: Grass),
        Tile(type: Grass),
        Tile(type: Grass),
        Tile(type: Grass),
        Tile(type: Grass),
        Tile(type: Grass),
        Tile(type: Grass),
        Tile(type: Grass),
        Tile(type: Grass),
        Tile(type: Grass),
        Tile(type: Grass),
        Tile(type: Grass),
        Tile(type: Grass),
        Tile(type: Grass),
        Tile(type: Grass),
        Tile(type: Grass),
        Tile(type: Grass),
        Tile(type: Grass),
        Tile(type: Grass),
        Tile(type: Grass),
        Tile(type: Grass),
        Tile(type: Grass),
        Tile(type: Grass),
        Tile(type: Grass),
        Tile(type: Grass),
        Tile(type: Grass),
        Tile(type: Grass),
        Tile(type: Grass),
        Tile(type: Grass),
        Tile(type: Grass),
        Tile(type: Grass),
        Tile(type: Grass),
        Tile(type: Grass),
        Tile(type: Grass),
        Tile(type: Grass),
        Tile(type: Grass),
        Tile(type: Grass),
        Tile(type: Grass),
        Tile(type: Grass),
        Tile(type: Grass),
        Tile(type: Grass),
        Tile(type: Grass),
        Tile(type: Grass),
        Tile(type: Grass),
    ],
)
