Tilemap (
    width: 23,
    height: 23,
    centre_x: 11,
    centre_y: 11,
    tiles: [
        Tile(type: Grass),
        Tile(type: Grass),
        Tile(type: Grass),
        Tile(type: Grass),
        Tile(type: Grass),
        Tile(type: Grass),
        Tile(type: Grass),
        Tile(type: Grass),
        Tile(type: Grass),
        Tile(type: Grass),
        Tile(type: Grass),
        Tile(type: Grass),
        Tile(type: Grass),
        Tile(type: Grass),
        Tile(type: Grass),
        Tile(type: Grass),
        Tile(type: Grass),
        Tile(type: Grass),
        Tile(type: Grass),
        Tile(type: Grass),
        Tile(type: Grass),
        Tile(type: Grass),
        Tile(type: Grass),
        Tile(type: Grass),
        Tile(type: Grass),
        Tile(type: Grass),
        Tile(type: Grass),
        Tile(type: Grass),
        Tile(type: Grass),
        Tile(type: Grass),
        Tile(type: Grass),
        Tile(type: Grass),
        Tile(type: Grass),
        Tile(type: Grass),
        Tile(type: Grass),
        Tile(type: Grass),
        Tile(type: Grass),
        Tile(type: Grass),
        Tile(type: Grass),
        Tile(type: Grass),
        Tile(type: Grass),
        Tile(type: Grass),
        Tile(type: Grass),
        Tile(type: Grass),
        Tile(type: Grass),
        Tile(type: Grass),
        Tile(type: Grass),
        Tile(type: Grass),
        Tile(type: Grass),
        Tile(type: Grass),
        Tile(type: Grass),
        Tile(type: Grass),
        Tile(type: Grass),
        Tile(type: Grass),
        Tile(type: Grass),
        Tile(type: Grass),
        Tile(type: Grass),
        Tile(type: Grass),
        Tile(type: Grass),
        Tile(type: Grass),
        Tile(type: Grass),
        Tile(type: Grass),
        Tile(type: Grass),
        Tile(type: Grass),
        Tile(type: Grass),
        Tile(type: Grass),
        Tile(type: Grass),
        Tile(type: Grass),
        Tile(type: Grass),
        Tile(type: Grass),
        Tile(type: Grass),
        Tile(type: Grass),
        Tile(type: Grass),
        Tile(type: Grass),
        Tile(type: Grass),
        Tile(type: Grass),
        Tile(type: Grass),
        Tile(type: Grass),
        Tile(type: Grass),
        Tile(type: Grass),
        Tile(type: Grass),
        Tile(type: Grass),
        Tile(type: Grass),
        Tile(type: Grass),
        Tile(type: Grass),
        Tile(type: Grass),
        Tile(type: Grass),
        Tile(type: Grass),
        Tile(type: Grass),
        Tile(type: Grass),
        Tile(type: Grass),
        Tile(type: Grass),
        Tile(type: Grass),
        Tile(type: Grass),
        Tile(type: Grass),
        Tile(type: Grass),
        Tile(type: Grass),
        Tile(type: Grass),
        Tile(type: Grass),
        Tile(type: Grass),
        Tile(type: Grass),
        Tile(type: Grass),
        Tile(type: Grass),
        Tile(type: Grass),
        Tile(type: Grass),
        Tile(type: Grass),
        Tile(type: Grass),
        Tile(type: Grass),
        Tile(type: Grass),
        Tile(type: Grass),
        Tile(type: Grass),
        Tile(type: Grass),
        Tile(type: Grass),
        Tile(type: Grass),
        Tile(type: Grass),
        Tile(type: Grass),
        Tile(type: Grass),
        Tile(type: Grass),
        Tile(type: Grass),
        Tile(type: Grass),
        Tile(type: Grass),
        Tile(type: Grass),
        Tile(type: Grass),
        Tile(type: Grass),
        Tile(type: Grass),
        Tile(type: Grass),
        Tile(type: Grass),
        Tile(type: Grass),
        Tile(type: Grass),
        Tile(type: Grass),
        Tile(type: Grass),
        Tile(type: Grass),
        Tile(type: Grass),
        Tile(type: Grass),
        Tile(type: Grass),
        Tile(type: Grass),
        Tile(type: Grass),
        Tile(type: Grass),
        Tile(type: Grass),
        Tile(type: Grass),
        Tile(type: Grass),
        Tile(type: Grass),
        Tile(type: Grass),
        Tile(type: Grass),
        Tile(type: Grass),
        Tile(type: Grass),
        Tile(type: Grass),
        Tile(type: Grass),
        Tile(type: Grass),
        Tile(type: Grass),
        Tile(type: Grass),
        Tile(type: Grass),
        Tile(type: Grass),
        Tile(type: Grass),
        Tile(type: Grass),
        Tile(type: Grass),
        Tile(type: Grass),
        Tile(type: Grass),
        Tile(type: Grass),
        Tile(type: Grass),
        Tile(type: Grass),
        Tile(type: Grass),
        Tile(type: Grass),
        Tile(type: Grass),
        Tile(type: Grass),
        Tile(type: Grass),
        Tile(type: Grass),
        Tile(type: Grass),
        Tile(type: Grass),
        Tile(type: Grass),
        Tile(type: Grass),
        Tile(type: Grass),
        Tile(type: Grass),
        Tile(type: Grass),
        Tile(type: Grass),
        Tile(type: Grass),
        Tile(type: Grass),
        Tile(type: Grass),
        Tile(type: Grass),
        Tile(type: Grass),
        Tile(type: Grass),
        Tile(type: Grass),
        Tile(type: Grass),
        Tile(type: Grass),
        Tile(type: Grass),
        Tile(type: Grass),
        Tile(type: Grass),
        Tile(type: Grass),
        Tile(type: Grass),
        Tile(type: Grass),
        Tile(type: Grass),
        Tile(type: Grass),
        Tile(type: Grass),
        Tile(type: Grass),
        Tile(type: Grass),
        Tile(type: Grass),
        Tile(type: Grass),
        Tile(type: Grass),
        Tile(type: Grass),
        Tile(type: Grass),
        Tile(type: Grass),
        Tile(type: Grass),
        Tile(type: Grass),
        Tile(type: Grass),
        Tile(type: Grass),
        Tile(type: Grass),
        Tile(type: Grass),
        Tile(type: Grass),
        Tile(type: Grass),
        Tile(type: Grass),
        Tile(type: Grass),
        Tile(type: Grass),
        Tile(type: Grass),
        Tile(type: Grass),
        Tile(type: Grass),
        Tile(type: Grass),
        Tile(type: Grass),
        Tile(type: Grass),
        Tile(type: Grass),
        Tile(type: Grass),
        Tile(type: Grass),
        Tile(type: Grass),
        Tile(type: Grass),
        Tile(type: Grass),
        Tile(type: Grass),
        Tile(type: Grass),
        Tile(type: Grass),
        Tile(type: Grass),
        Tile(type: Grass),
        Tile(type: Grass),
        Tile(type: Grass),
        Tile(type: Grass),
        Tile(type: Grass),
        Tile(type: Grass),
        Tile(type: Grass),
        Tile(type: Grass),
        Tile(type: Grass),
        Tile(type: Grass),
        Tile(type: Grass),
        Tile(type: Grass),
        Tile(type: Grass),
        Tile(type: Grass),
        Tile(type: Grass),
        Tile(type: Grass),
        Tile(type: Grass),
        Tile(type: Grass),
        Tile(type: Grass),
        Tile(type: Grass),
        Tile(type: Grass),
        Tile(type: Grass),
        Tile(type: Grass),
        Tile(type: Grass),
        Tile(type: Grass),
        Tile(type: Grass),
        Tile(type: Grass),
        Tile(type: Grass),
        Tile(type: Grass),
        Tile(type: Grass),
        Tile(type: Grass),
        Tile(type: Grass),
        Tile(type: Grass),
        Tile(type: Grass),
        Tile(type: Grass),
        Tile(type: Grass),
        Tile(type: Grass),
        Tile(type: Grass),
        Tile(type: Grass),
        Tile(type: Grass),
        Tile(type: Grass),
        Tile(type: Grass),
        Tile(type: Grass),
        Tile(type: Grass),
        Tile(type: Grass),
        Tile(type: Grass),
        Tile(type: Grass),
        Tile(type: Grass),
        Tile(type: Grass),
        Tile(type: Grass),
        Tile(type: Grass),
        Tile(type: Grass),
        Tile(type: Grass),
        Tile(type: Grass),
        Tile(type: Grass),
        Tile(type: Grass),
        Tile(type: Grass),
        Tile(type: Grass),
        Tile(type: Grass),
        Tile(type: Grass),
        Tile(type: Grass),
        Tile(type: Grass),
        Tile(type: Grass),
        Tile(type: Grass),
        Tile(type: Grass),
        Tile(type: Grass),
        Tile(type: Grass),
        Tile(type: Grass),
        Tile(type: Grass),
        Tile(type: Grass),
        Tile(type: Grass),
        Tile(type: Grass),
        Tile(type: Grass),
        Tile(type: Grass),
        Tile(type: Grass),
        Tile(type: Grass),
        Tile(type: Grass),
        Tile(type: Grass),
        Tile(type: Grass),
        Tile(type: Grass),
        Tile(type: Grass),
        Tile(type: Grass),
        Tile(type: Grass),
        Tile(type: Grass),
        Tile(type: Grass),
        Tile(type: Grass),
        Tile(type: Grass),
        Tile(type: Grass),
        Tile(type: Grass),
        Tile(type: Grass),
        Tile(type: Grass),
        Tile(type: Grass),
        Tile(type: Grass),
        Tile(type: Grass),
        Tile(type: Grass),
        Tile(type: Grass),
        Tile(type: Grass),
        Tile(type: Grass),
        Tile(type: Grass),
        Tile(type: Grass),
        Tile(type: Grass),
        Tile(type: Grass),
        Tile(type: Grass),
        Tile(type: Grass),
        Tile(type: Grass),
        Tile(type: Grass),
        Tile(type: Grass),
        Tile(type: Grass),
        Tile(type: Grass),
        Tile(type: Grass),
        Tile(type: Grass),
        Tile(type: Grass),
        Tile(type: Grass),
        Tile(type: Grass),
        Tile(type: Grass),
        Tile(type: Grass),
        Tile(type: Grass),
        Tile(type: Grass),
        Tile(type: Grass),
        Tile(type: Grass),
        Tile(type: Grass),
        Tile(type: Grass),
        Tile(type: Grass),
        Tile(type: Grass),
        Tile(type: Grass),
        Tile(type: Grass),
        Tile(type: Grass),
        Tile(type: Grass),
        Tile(type: Grass),
        Tile(type: Grass),
        Tile(type: Grass),
        Tile(type: Grass),
        Tile(type: Grass),
        Tile(type: Grass),
        Tile(type: Grass),
        Tile(type: Grass),
        Tile(type: Grass),
        Tile(type: Grass),
        Tile(type: Grass),
        Tile(type: Grass),
        Tile(type: Grass),
        Tile(type: Grass),
        Tile(type: Grass),
        Tile(type: Grass),
        Tile(type: Grass),
        Tile(type: Grass),
        Tile(type: Grass),
        Tile(type: Grass),
        Tile(type: Grass),
        Tile(type: Grass),
        Tile(type: Grass),
        Tile(type: Grass),
        Tile(type: Grass),
        Tile(type: Grass),
        Tile(type: Grass),
        Tile(type: Grass),
        Tile(type: Grass),
        Tile(type: Grass),
        Tile(type: Grass),
        Tile(type: Grass),
        Tile(type: Grass),
        Tile(type: Grass),
        Tile(type: Grass),
        Tile(type: Grass),
        Tile(type: Grass),
        Tile(type: Grass),
        Tile(type: Grass),
        Tile(type: Grass),
        Tile(type: Grass),
        Tile(type: Grass),
        Tile(type: Grass),
        Tile(type: Grass),
        Tile(type: Grass),
        Tile(type: Grass),
        Tile(type: Grass),
        Tile(type: Grass),
        Tile(type: Grass),
        Tile(type: Grass),
        Tile(type: Grass),
        Tile(type: Grass),
        Tile(type: Grass),
        Tile(type: Grass),
        Tile(type: Grass),
        Tile(type: Grass),
        Tile(type: Grass),
        Tile(type: Grass),
        Tile(type: Grass),
        Tile(type: Grass),
        Tile(type: Grass),
        Tile(type: Grass),
        Tile(type: Grass),
        Tile(type: Grass),
        Tile(type: Grass),
        Tile(type: Grass),
        Tile(type: Grass),
        Tile(type: Grass),
        Tile(type: Grass),
        Tile(type: Grass),
        Tile(type: Grass),
        Tile(type: Grass),
        Tile(type: Grass),
        Tile(type: Grass),
        Tile(type: Grass),
        Tile(type: Grass),
        Tile(type: Grass),
        Tile(type: Grass),
        Tile(type: Grass),
        Tile(type: Grass),
        Tile(type: Grass),
        Tile(type: Grass),
        Tile(type: Grass),
        Tile(type: Grass),
        Tile(type: Grass),
        Tile(type: Grass),
        Tile(type: Grass),
        Tile(type: Grass),
        Tile(type: Grass),
        Tile(type: Grass),
        Tile(type: Grass),
        Tile(type: Grass),
        Tile(type: Grass),
        Tile(type: Grass),
        Tile(type: Grass),
        Tile(type: Grass),
        Tile(type: Grass),
        Tile(type: Grass),
        Tile(type: Grass),
        Tile(type: Grass),
        Tile(type: Grass),
        Tile(type: Grass),
        Tile(type: Grass),
        Tile(type: Grass),
        Tile(type: Grass),
        Tile(type: Grass),
        Tile(type: Grass),
        Tile(type: Grass),
        Tile(type: Grass),
        Tile(type: Grass),
        Tile(type: Grass),
        Tile(type: Grass),
        Tile(type: Grass),
        Tile(type: Grass),
        Tile(type: Grass),
        Tile(type: Grass),
        Tile(type: Grass),
        Tile(type: Grass),
        Tile(type: Grass),
        Tile(type: Grass),
        Tile(type: Grass),
        Tile(type: Grass),
        Tile(type: Grass),
        Tile(type: Grass),
        Tile(type: Grass),
        Tile(type: Grass),
        Tile(type: Grass),
        Tile(type: Grass),
        Tile(type: Grass),
        Tile(type: Grass),
        Tile(type: Grass),
        Tile(type: Grass),
        Tile(type: Grass),
        Tile(type: Grass),
        Tile(type: Grass),
        Tile(type: Grass),
        Tile(type: Grass),
        Tile(type: Grass),
        Tile(type: Grass),
        Tile(type: Grass),
        Tile(type: Grass),
        Tile(type: Grass),
        Tile(type: Grass),
        Tile(type: Grass),
        Tile(type: Grass),
        Tile(type: Grass),
        Tile(type: Grass),
        Tile(type: Grass),
        Tile(type: Grass),
        Tile(type: Grass),
        Tile(type: Grass),
        Tile(type: Grass),
        Tile(type: Grass),
        Tile(type: Grass),
        Tile(type: Grass),
        Tile(type: Grass),
        Tile(type: Grass),
        Tile(type: Grass),
        Tile(type: Grass),
        Tile(type: Grass),
        Tile(type: Grass),
        Tile(type: Grass),
        Tile(type: Grass),
        Tile(type: Grass),
        Tile(type: Grass),
        Tile(type: Grass),
        Tile(type: Grass),
        Tile(type: Grass),
        Tile(type: Grass),
        Tile(type: Grass),
        Tile(type: Grass),
        Tile(type: Grass),
        Tile(type: Grass),
    ],
)
